//common
include ./common/index.pug

//home-page
include ./home-page/index.pug

//offer
include ./offer/index.pug

//menu
include ./menu/index.pug

//menu
include ./ratings-reviews/ratings-reviews-box.pug

//article
include ./article/article-box.pug