mixin StayUpdatedBtn()
  .stylingblock-content-wrapper.camarker-inner
    form#smartcapture-block-uc73krym7.smartcapture-content-wrapper.fuelux(novalidate='novalidate')
      div(data-type='slot', data-key='1eg65yk8xf5')
      +Input({
        type: "text",
        name: "Email",
        placeholder: "Enter your e-mail",
        class: "smartcapture-block-email"
      })
      button.sc-button(type='submit', class="btn btn--medium smartcapture-block-btn") Sign up
      .smartcapture-block-checkbox
      +Input({
        type: "checkbox",
        name: "Opt-In",
        id: "Opt-In",
        label: "Lorem ipsum dolor sit amet, consectetur adicing elit.",
        class: ""
      })
      script#smartcapture-script-uc73krym7.
        var scFormLoaded = function () {
        window.ScForm.init({"gearID":"uc73krym7","smartCaptureFormID":0,"sourceKey":"93FDBD17-398E-4053-814E-B43ED52397EB","source":"dataExtension","triggeredSend":"","confirmationMessage":"Thank you for your submission.","buttonText":"Submit","formStyling":{"background-color":"transparent","margin-top":"0px","margin-right":"0px","margin-bottom":"0px","margin-left":"0px","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px","text-align":"left"},"fieldStyling":{"width":"200px"},"buttonStyling":{"background-color":"#009DDC","border-color":"#009DDC","border-radius":"3px","border-style":"solid","-webkit-border-radius":"3px","-moz-border-radius":"3px","color":"#FFFFFF","font-family":"Arial, Helvetica, sans-serif","font-size":"16px","line-height":"normal","padding":"10px"},"onSubmitGotoUrlType":2});
        };
        window.appDomain = window.appDomain || '<ctrl:eval>Platform.Variable.GetValue("@appDomain")||""</ctrl:eval>';
        window.contentDetail = window.contentDetail || '<ctrl:eval>Platform.Variable.GetValue("@contentDetail")||{}</ctrl:eval>';
        if (!window.ScForm || !window.ScForm.init) {
        var head = document.getElementsByTagName('head')[0];
        var id = 'smartcapture-formjs-script';
        var script = document.getElementById(id);
        var domain = window.appDomain;
        var el;
        if (!script) {
        if (domain) {
        domain = '//' + domain;
        }
        el = document.createElement('script');
        el.async = true;
        el.id = id;
        el.src = domain + '/CloudPages/lib/smartcapture-formjs.js';
        el.onload = scFormLoaded;
        head.appendChild(el);
        } else {
        if (script.addEventListener) {
        script.addEventListener('load', scFormLoaded);
        } else if (script.attachEvent) {
        script.attachEvent('onload', scFormLoaded);
        }
        }
        } else {
        scFormLoaded();
        }
      input(name='Nutro', type='hidden', value='TRUE')
      input(name='Country_Code', type='hidden', value='')
      input(name='Data_Origin', type='hidden', value='Nutro_OptIn')
