.slider-img {
  width: 100%;
  height: auto;
  padding: 5px;
  max-width: 320px;

  @include respond-to('large') {
    padding: 10px;
  }
}
.slick-dots {
	text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  li {
    display:inline-block;
    margin-left: 4px;
    margin-right: 4px;
    &.slick-active {
      button {
        background-color: $primary;
      }
    }
    button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color: #e0e6e5;
      border:none;
      width: 10px;
      height: 10px;
      border-radius:50%;
    }
		:hover{
			background-color: $primary;
		}
  }
}

.slider {
  &-container {
    @include respond-to('large') {
      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
    }
  }
  &-content {
    @include respond-to('large') {
      padding: 10px;
    }

    a {
      text-decoration: none;
      color: $text;
    }

    .articleBox {
      margin: 10px 10px;

      .article {
        &-description {
          @include respond-to('medium') {
            padding: 15px 0;
          }
        }

        &-title {
          @include respond-to('medium') {
            padding: 5px 0;
          }
        }

        &-desc {
          text-align: left;
          word-spacing: 5px;
          @include respond-to('medium') {
            padding: 5px 0;
            word-spacing: 0;
          }
        }
      }
    }

    &-box {
      display: flex;
    }
  }

  &-heading {
    display: flex;
    padding: 35px 0px;
  }

  &-six {
    h2 {
      font-size: 115px;
      font-weight: 200;
      color: $primary;

      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
        font-size: 75px;
      }

      @include respond-to('tablet') {
        font-size: 100px;
      }

      @include respond-to('large'){
        font-size: 125px;
      }
    }
  }

  &-days {
    max-width: 145px;
    letter-spacing: 2px;

    @include respond-to('large'){
      max-width: 210px;
    }
    h2 {
      padding: 0px 7px;
      margin: -30px 0px;
      line-height: 30px;

      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
        margin: -23px 0;
        line-height: 22px;
        font-size: 15px;
      }

      @include respond-to('tablet') {
        font-size: 18px;
      }

      @include respond-to('large') {
        font-size: 25px;
        line-height: 35px;
        padding: 0px 4px;
      }

      span{
        font-weight: 300;
      }
    }
  }

  &-text {
    padding: 10px;
    word-spacing: 3px;

    @include respond-to('medium') {
      font-size: 14px;
      line-height: 25px;
    }
  }

  &-link {
    padding-top: 20px;

    a {
      color: $primary;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.see-all {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
  text-align: center;

  button {
    text-align: center;
    @include respond-to('medium') {
      font-size: 18px;
      padding: 14px 40px;
      width: 100%;  
    }
  }
}
