mixin mainNavigation
  nav
    ul.left-nav
      li(class="main-menu has-submenu js-has-submenu" data-menu-for="dog"): a(href="/product-list.html") For Dogse
      li(class="main-menu has-submenu js-has-submenu" data-menu-for="cat"): a(href="/product-list.html" ) For cats
    span.main-logo.js-main-logo: a(href="/index.html" data-is-hp="false") Nutro
    ul.right-nav
      li(class="main-menu js-main-menu--offer"  data-menu-for="offer" )
        a(href="/offer-list.html" ) Offre d'essai
      li(class="main-menu has-submenu js-has-submenu"  data-menu-for="feed-clean"): a(href="/philosophy.html") Philosophie feed clean<sup class="">TM</sup>
    span.icon-User-not-logged.not-logged.js-user-status: a(href="/registration.html") User
    span.btn-search: a.js-search-form-show(href="#") Search
