mixin menuMobile()
  +Humberger("js-humberger")
  ul#nav-mobile.nav-mobile
    li(data-menu-for="dog" class="has-submenu js-has-submenu").nav-mobile__list: a.nav-mobile__link.js-nav-mobile__link(href='#') For dogs
    li(data-menu-for="cat" class="has-submenu js-has-submenu").nav-mobile__list: a.nav-mobile__link.js-nav-mobile__link(href='#') For cats
    li(data-menu-for="offer" class="js-main-menu--offer").nav-mobile__list: a.nav-mobile__link.js-nav-mobile__link(href='/mbg-uk.html') Offre d'essai
    li(data-menu-for="feed-clean" class="has-submenu js-has-submenu").nav-mobile__list: a.nav-mobile__link.js-nav-mobile__link(href='#') Philosophie feed clean tm
  .search-box
