mixin menuSearch()
  .search-form.js-search-form
    form
      label(for="search") search
      +Input({
        type: "text",
        placeholder: "What are you looking for?",
        class: "search-input js-search-input",
        id: "search",
        name: "search"
      })
      a(href="#", data-redirection='search.html', data-error-search='Error conexion').js-btn-search Search
