mixin subMenu(options)

  //- Submenu for dog
  .sub-menu-container.js-sub-menu-container.wrapper(data-submenu-for="dog")
    .sub-menu
      ul
        li.parent-menu
          a.parent-menu__link.js-parent-menu__link(href="/product-list.html") All dog food
        li.parent-menu
          a.parent-menu__link.js-parent-menu__link.js-dropdown(href="#") Dog food reviews
          ul.child-menu-container.js-child-menu-container
            li.child-menu
              a.child-menu__link(href="/product-reviews.html" ) Product reviews
            li.child-menu
              a.child-menu__link(href="/write-reviews.html") Write a review
        li.parent-menu
          a.parent-menu__link(href="/feeding-tool.html") Find your dog food match

  //- Submenu for cat
  .sub-menu-container.js-sub-menu-container.wrapper(data-submenu-for="cat")
    .sub-menu
      ul
        li.parent-menu
          a.parent-menu__link.js-parent-menu__link(href="/product-list.html") All cat food
        li.parent-menu
          a.parent-menu__link.js-parent-menu__link.js-dropdown(href="#") Cat food reviews
          ul.child-menu-container.js-child-menu-container
            li.child-menu(data-active-menu="True")
              a.child-menu__link(href="/product-reviews.html" ) Product reviews
            li.child-menu
              a.child-menu__link(href="/write-reviews.html") Write a review
        li.parent-menu
          a.parent-menu__link(href="/feeding-tool.html") Find your cat food match

  //- Submenu for feed clean
  .sub-menu-container.js-sub-menu-container.wrapper(data-submenu-for="feed-clean")
    .sub-menu
      ul
        li.parent-menu
          a.parent-menu__link(href="/philosophy.html") NOTRE PHILOSOPHIE FEED CLEAN
        li.parent-menu
          a.parent-menu__link(href="/editorial-landing.html") Nutro news

  Template for the offer push on desktop
  script(type="text/template" id="offer-push-desktop")
    +offerPush({
      imgDesktop: 'offer/offer-push-menu.jpg',
      alt: 'Offer push',
      lazyLoad: false
    })

  //- Template for the offer push on mobile
  script(type="text/template" id="offer-push-mobile")
    +offerPush({
      imgDesktop: 'offer/offer-push-menu.jpg',
      alt: 'Offer push',
      lazyLoad: false
    })
