@import '../modules/_variables';
@import '../modules/_mixins';
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: $white;
	color: $text;
	font-family: $font_normal, sans-serif;
	font-size: 18px;
	height: 100%;
}


main {
	min-height: 320px;
}

section {
	display: block;
}
nav {
	display: block;
}
article {
	display: block;
}
figure {
	display: block;
}
ul {
	list-style-type: none;
}
@media only screen and (max-width: $breakpoint-small) {
	body {
		-webkit-text-size-adjust: none;
	}
	section {
		-webkit-text-size-adjust: none;
	}
	article {
		-webkit-text-size-adjust: none;
	}
	div {
		-webkit-text-size-adjust: none;
	}
	p {
		-webkit-text-size-adjust: none;
	}
	a {
		-webkit-text-size-adjust: none;
	}
}
