extends ./layout/layout.pug

block vars
    - var bodyClass = 'home-page'
    - var pageTitle = 'Home';

block content
  
  img(src=require("../assets/images/home/banner-benefits-mobile.jpg") alt="banner mobile")

