.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-family: $font_normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 5px;
  /* Large is different from the medium on the padding left and right */
  &--large {
    font-size: 18px;
    padding: 14px 40px;
    @include respond-to('large') {
      font-size: 24px;
      padding: 24px 90px;
    }
    &.btn--secondary {
      padding: 12px 38px; /* There is a border of 2px on secondary button, border + padding must be 14 */
      @include respond-to('large') {
        padding: 22px 88px;
      }
    }
  }
  &--medium {
    font-size: 18px;
    padding: 14px 40px;
    @include respond-to('large') {
      font-size: 24px;
      padding: 24px 40px;
    }
    &.btn--secondary {
      padding: 12px 38px; /* There is a border of 2px on secondary button, border + padding must be 14 */
      @include respond-to('large') {
        padding: 22px 38px;
      }
    }
  }
  &--small {
    font-size: 14px;
    padding: 10px 20px;
    @include respond-to('large') {
      font-size: 18px;
      padding: 17px 40px;
    }
    &.btn--secondary {
      padding: 8px 18px; /* There is a border of 2px on secondary button, border + padding must be 14 */
      @include respond-to('large') {
        padding: 15px 38px;
      }
    }
  }

  &--full {
    font-size: 18px;
    padding: 14px 40px;
    width: 100%;
    word-spacing: 0px;

    @include respond-to('large') {
      width: auto;
      font-size: 18px;
      padding: 17px 40px;
      word-spacing: 5px;
    }
    &.btn--secondary {
      padding: 8px 18px; /* There is a border of 2px on secondary button, border + padding must be 14 */
      @include respond-to('large') {
        padding: 15px 38px;
      }
    }
  }

  &--primary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: $secondary;
    }
  }
  &--secondary {
    background-color: $white;
    border: 2px solid $primary;
    color: $primary;
    &:hover {
      border: 2px solid $secondary;
      color: $secondary;
    }
  }
  &--push {
    border: 2px solid $white;
    color: $white;
  }
  &[data-disabled="true"], &[disabled],&.disabled{
    background-color: $secondary;
    color: rbg(255,255,255,0.5);
    pointer-events: none;
  }
  &--fullwidth-mobile {
    @include respond-to('medium') {
      width: 100%;
    }
  }
  &__loader {
    display: none;
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);

    .sk-fading-circle {
      display: block;
      height: 20px;
      width: 20px;
      .sk-circle::before {
        background-color: $white;
      }
    }


  }
}

button {
  outline: none;
}

.leave-a-review {
  line-height: 1.3;
  word-spacing: 3px;
}
