
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-value {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 10px;
  min-width: 80px;
  width: 100%;
  text-align: left;
  margin-right: 20px;
}

.dropdown-value .dropdown-value-span{
  color: #524b48;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  -webkit-appearance: none;
}

.dropdown-value:after {
  border-right: 2px solid #524b48;
  border-bottom: 2px solid #524b48;
  content: "";
  display: block;
  height: 8px;
  margin-left: 10px;
  position: absolute;
  top: 5px;
  right: 0px;
  transform: rotate(45deg);
  width: 8px;
}

.dropdown-content {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 0px;
  text-align: left;
}

ul.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

ul.dropdown-content li {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

ul.dropdown-content li:hover {background-color: #ddd}

.language {
  .dropdown-value {
    //min-width: 133px;
  }
  ul.dropdown-content {
    right: -20px;
    top: 40px;
    min-width: 220px;
    li {
      position: relative;
      z-index: 1;
      img {
        margin-top: 5px;
      }
      span {
        margin-left: 10px;
      }
    }
    &:after {
      background: #ffffff;
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      content: "";
      display: block;
      height: 12px;
      margin-left: 10px;
      position: absolute;
      top: -8px;
      right: 18px;
      transform: rotate(-135deg);
      width: 12px;
    }
  }
}