body #mars-footer-panel {
  //background-color: $footer;
  background-image: url('../assets/images/textures/lotus_green.jpg');
  a {
    color: $white !important;
  }
}
body .mars-footer-legal {
  color: $white !important;
  //margin-top: 45px!important;
}

body #mars-footer-panel.mars-footer-mars .mars-footer-legal, #mars-footer-panel.mars-footer-icons .mars-footer-legal {
  margin-top: 30px !important;
  padding-bottom: 40px;
}
body #mars-footer-panel.mars-footer-icons .mars-footer-list-right .mars-footer-icon {
  display: none !important;
  //position: absolute !important;
  //top: -50px !important;
}
body #mars-footer-panel.mars-footer-icons .mars-footer-list-right a {
  //height: auto !important;
  //min-height: 40px !important;
  //width: 83px !important;
  .mars-footer-label {
    border: medium none;
    //font-size: 15px !important;
    margin: 0;
    position: absolute !important;
    top: 20px !important;
    left: 8px !important;
    width: 88px !important;
  }
}

body #mars-footer-panel {
  max-width: 1400px;
  margin: auto!important;
  padding-top: 20px!important;
  @include respond-to('large') {
    padding-top: 60px!important;
  }
}

/*body #mars-footer-panel.mars-footer-icons .mars-footer-legal, body #mars-footer-panel.mars-footer-mars .mars-footer-legal {
  margin-top: 45px!important;
}

body #mars-footer-panel.mars-footer-icons .mars-footer-list-right .mars-footer-icon {
  color: $text!important;
}
*/
body #mars-footer-panel .mars-footer-container {
  margin-top: 0px !important;
  @include respond-to('large') {
    margin-top: -35px !important;
  }
}
body #mars-footer-panel li .mars-footer-label {
  @include respond-to('medium') {
    line-height: 2;
  }
}