@font-face {
	font-family: "Nutro";
	src: url('../fonts/Nutro.eot');
	src: url('../fonts/Nutro.eot?#iefix') format('eot'),
		url('../fonts/Nutro.woff2') format('woff2'),
		url('../fonts/Nutro.woff') format('woff'),
		url('../fonts/Nutro.ttf') format('truetype'),
		url('../fonts/Nutro.svg#Nutro') format('svg');
}

@mixin icon-styles {
	font-family: "Nutro";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == cancel {
		$char: "\E001";
	}
	@if $filename == Facebook_Gris {
		$char: "\E002";
	}
	@if $filename == Facebook_vert {
		$char: "\E003";
	}
	@if $filename == go-back-left-arrow {
		$char: "\E004";
	}
	@if $filename == icon-search-white {
		$char: "\E005";
	}
	@if $filename == left-arrow {
		$char: "\E006";
	}
	@if $filename == Linkedin_Gris {
		$char: "\E007";
	}
	@if $filename == Linkedin_vert {
		$char: "\E008";
	}
	@if $filename == Mail_Gris {
		$char: "\E009";
	}
	@if $filename == Mail_vert {
		$char: "\E00A";
	}
	@if $filename == questions-circular-button {
		$char: "\E00B";
	}
	@if $filename == select-arrow-green {
		$char: "\E00C";
	}
	@if $filename == shopping-cart-4 {
		$char: "\E00D";
	}
	@if $filename == shopping-cart {
		$char: "\E00E";
	}
	@if $filename == star-empty {
		$char: "\E00F";
	}
	@if $filename == star-full {
		$char: "\E010";
	}
	@if $filename == star-half {
		$char: "\E011";
	}
	@if $filename == Twitter_Gris {
		$char: "\E012";
	}
	@if $filename == Twitter_vert {
		$char: "\E013";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-cancel {
	@include icon(cancel);
}
.icon-Facebook_Gris {
	@include icon(Facebook_Gris);
}
.icon-Facebook_vert {
	@include icon(Facebook_vert);
}
.icon-go-back-left-arrow {
	@include icon(go-back-left-arrow);
}
.icon-icon-search-white {
	@include icon(icon-search-white);
}
.icon-left-arrow {
	@include icon(left-arrow);
}
.icon-Linkedin_Gris {
	@include icon(Linkedin_Gris);
}
.icon-Linkedin_vert {
	@include icon(Linkedin_vert);
}
.icon-Mail_Gris {
	@include icon(Mail_Gris);
}
.icon-Mail_vert {
	@include icon(Mail_vert);
}
.icon-questions-circular-button {
	@include icon(questions-circular-button);
}
.icon-select-arrow-green {
	@include icon(select-arrow-green);
}
.icon-shopping-cart-4 {
	@include icon(shopping-cart-4);
}
.icon-shopping-cart {
	@include icon(shopping-cart);
}
.icon-star-empty {
	@include icon(star-empty);
}
.icon-star-full {
	@include icon(star-full);
}
.icon-star-half {
	@include icon(star-half);
}
.icon-Twitter_Gris {
	@include icon(Twitter_Gris);
}
.icon-Twitter_vert {
	@include icon(Twitter_vert);
}
