.desktop-only {
  @include respond-to('medium') { display: none; }
}

.mobile-only {
  display: none;
  @include respond-to('medium') { display: block; }
}

.block {
  display: block;
}

.hidden-block {
  display: none;
}

.clearfix {
  display: table;
  clear: both;
}

.arrow {
  &--after {
    padding-right: 20px;
    position: relative;
    &::before, &::after {
      background-color: $filter-border-color;
      content: "";
      display: block;
      height: 11px;
      position: absolute;
      right: 0;
      width: 2px;
      @include respond-to('medium') {
        right: 6px;
      }
    }
    &::before {
      top: 2px;
      transform: rotate(128deg);
    }
    &::after {
      top: 8px;
      transform: rotate(-128deg);
    }
  }
}

