header {
  background: $white;
  background-color: transparent;
  background-image: url('../assets/images/textures/lotus_green.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  height: 80px;
  left: 0;
	line-height: 80px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  z-index: 10;
  max-width: 1400px;
  margin: 0 auto;
	nav {
		margin: auto;
		text-align: center;

		li {
			display: inline-block;
			vertical-align: text-bottom;
			a {
        color: $white;
				font-weight: 700;
				padding: 0 55px;
				text-decoration: none;

				&:hover {
					color: $primary;
        }

        @include respond-to('large') {
          text-transform: uppercase;

        }

        @include respond-to('middle') {
          word-break: break-word;
          max-width: 160px;
          flex-direction: column;
          justify-content: center;
          line-height: 20px;
          text-align: center;
          padding: 0 25px;
        }


				sup {
					line-height: 18px;
				}
      }


      &[data-active-menu="True"] {
        position: relative;
        &:after {
          background-color: $primary;
          content: "";
          display: block;
          height: 4px;
          left: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }

    .main-logo {
      position: absolute;
      left: calc(50% - 35px);
      transition:  all 0.5s linear;
      @include respond-to('large') {
        left: calc(50% - 60px);
      }

      a {
        background-color: transparent;
        background-image: url('../assets/images/default/logo.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        color: transparent;
        display: block;
        height: 116px;
        line-height: 116px;
        margin-top: 15px;
        overflow-x: hidden;
        text-indent: 120px;
        width: 116px;
				transition:  all 0.3s linear;
				&[data-is-hp="false"] {
					cursor: pointer;
				}
				&[data-is-hp="true"] {
					cursor: default;
					pointer-events: none;
				}
        @include respond-to('medium') {
          height: 70px;
          line-height: 70px;
          margin-top: 5px;
          width: 70px;
        }
      }

      &--small {
        top: -15px;

        @include respond-to('large') {
          top: -30px;
        }
        a {
          transform: scale(0.6);

          @include respond-to('large') {
            transform: scale(0.5);
          }
        }
      }
    }

    .left-nav {
      display: inline;
      position: absolute;
			right: calc(50% + 94px);

			@include respond-to('large') {
        display: block;
        height: 100%;
				right: calc(50% + 99px);
			}
    }
    .right-nav {
      display: inline;
      position: absolute;
      left: calc(50% + 95px);

      @include respond-to('large') {
        display: block;
        height: 100%;;
      }

      /*:lang(fr) {
        a {
          @include respond-to('large') {
            padding: 0 20px;
          }
        }
      }*/
    }
    .btn-search {
			display: block;
      padding: 0;
      position: absolute;
      right: 44px;

      @include respond-to('medium') {
        margin-top: 75px;
      }

      a {
        background: transparent url($imagePath + "/default/icon-search.svg") no-repeat scroll center center;
        background-size: 24px;
        display: inline-block;
        color: transparent;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        position: absolute;
        //right: 10px;
        text-indent: 30px;
        top: -60px;
        width: 24px;

        @include respond-to('large') {
          //right: -30px;
          top: 25px;
				}
			}
			.close {
				&:after {
					content: "";
          width: 3px;
          height:	24px;
          background: $primary;
          display: block;
          position: absolute;
          bottom: 7px;
					left: 10px;
					transform: translateY(10px) rotate(45deg);
					transform-origin: 50% 50%;
				}
				&:before {
					content: "";
          width: 3px;
          height: 24px;
          background: $primary;
          display: block;
          position: absolute;
          bottom: 7px;
					left: 10px;
					transform: translateY(10px) rotate(-45deg);
					transform-origin: 50% 50%;
				}
			}
    }
    .icon-User-not-logged {
			display: block;
      padding: 0;
      position: absolute;
      right: 87px;

      &::before {
        display: none;
      }

      @include respond-to('medium') {
        margin-top: 75px;
      }

      a {
        background: transparent url($imagePath + "/default/User-not-logged.svg") no-repeat scroll center center;
        background-size: 25px;
        display: inline-block;
        color: transparent;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        position: absolute;
        //right: 10px;
        text-indent: 30px;
        top: -60px;
        width: 24px;

        @include respond-to('large') {
          //right: -30px;
          top: 25px;
				}
			}
			.close {
				&:after {
					content: "";
          width: 3px;
          height:	24px;
          background: $primary;
          display: block;
          position: absolute;
          bottom: 7px;
					left: 10px;
					transform: translateY(10px) rotate(45deg);
					transform-origin: 50% 50%;
				}
				&:before {
					content: "";
          width: 3px;
          height: 24px;
          background: $primary;
          display: block;
          position: absolute;
          bottom: 7px;
					left: 10px;
					transform: translateY(10px) rotate(-45deg);
					transform-origin: 50% 50%;
				}
			}
    }

    .icon-User-logged {
			display: block;
      padding: 0;
      position: absolute;
      right: 87px;

      &::before {
        display: none;
      }

      @include respond-to('medium') {
        margin-top: 75px;
      }

      a {
        background: transparent url($imagePath + "/default/User-logged.svg") no-repeat scroll center center;
        background-size: 25px;
        display: inline-block;
        color: transparent;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        position: absolute;
        //right: 10px;
        text-indent: 30px;
        top: -60px;
        width: 24px;

        @include respond-to('large') {
          //right: -30px;
          top: 25px;
				}
			}
			.close {
				&:after {
					content: "";
          width: 3px;
          height:	24px;
          background: $primary;
          display: block;
          position: absolute;
          bottom: 7px;
					left: 10px;
					transform: translateY(10px) rotate(45deg);
					transform-origin: 50% 50%;
				}
				&:before {
					content: "";
          width: 3px;
          height: 24px;
          background: $primary;
          display: block;
          position: absolute;
          bottom: 7px;
					left: 10px;
					transform: translateY(10px) rotate(-45deg);
					transform-origin: 50% 50%;
				}
			}
    }

  }
  .search-form {
    background: $bg-secondary;
    display: none;
    height: 95px;
    margin-top: 48px;
    padding-left: 9%;
    padding-right: 9%;
    width: 100%;

    @include respond-to('large') {
      height: 138px;
      margin-top: 80px;
      padding-top: 21px;
    }

    label {
      display: none;
    }
    .search-input {
      width: 100%;
      height: 30px;
      position: relative;
      bottom: -32px;
      border: none;
      border-bottom: 2px solid $text;
      font-size: 18px;
      background: transparent;
			&::-ms-clear {
				display: none;
			}
      &:focus {
        outline-offset: 0px;
        outline: 0px;
      }
    }
    a {
      background: transparent url($imagePath + "/default/icon-search-2.svg") no-repeat scroll 50%;
      float: right;
      color: transparent;
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      text-indent: 30px;
      width: 24px;
      margin-bottom: 10px;
      position: relative;
      bottom: 7px;

      @include respond-to('large') {
        bottom: 22px;
      }
    }

  }
	.mobile-menu {
		background: transparent url($imagePath + "/default/mobile-menu.png") no-repeat scroll center center;
		cursor: pointer;
		height: 48px;
		left: 0;
		line-height: 48px;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		text-indent: 50px;
		top: -50px;
		width: 48px;
    z-index: 10;

    @include respond-to('large') {
      display: none;
    }
	}
}

.menu {
  &--dropdown {
    &__content {
      ul.menu-content {
        padding: 5px 40px;
        background-color: $white;
        color: $text;
        text-align: left;
        position: relative;
        li {
          display: block;
          padding: 0px 0px;
          margin: 0px;
          padding-bottom: 5px;
          padding-top: 5px;
          position: relative;
          
          &.last-child {
            a {
              border: none;
            }
          }
        }
        a {
          border-bottom: 1px solid;
          width: 100%;
          color: $text;
          padding: 0;
          padding-bottom: 5px;
          display: block;
          position: relative;
          padding-right: 40px;
          &.parent-menu--item {
            &::before {
              background-color: #524b48;
              content: "";
              display: block;
              height: 3px;
              left: auto;
              position: absolute;
              right: 0;
              top: 10px;
              width: 12px;
              transform: rotate(45deg);
            }
            &::after {
              background-color: #524b48;
              content: "";
              display: block;
              height: 3px;
              left: auto;
              position: absolute;
              right: 8px;
              top: 10px;
              width: 12px;
              transform: rotate(-45deg);
            }
          }
        }
        .child-menu-container {
          a {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}