extends ../../../../commons/pug/layout/global.pug
include ../mixin/index.pug

block head
  include ../includes/head.pug

block googleTagManagerBody
  include ../includes/gtm-body.pug

block header
  include ../includes/header.pug

block footer
  include ../includes/footer.pug