@import '../modules/_variables';
@import '../modules/_mixins';
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700');

//- ATOMS: smallest component
@import '../atoms/_humberger';
@import '../atoms/_nav-mobile';
@import '../atoms/_ctb-script';
@import '../components/_quality';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: $white;
	color: $text;
	font-family: $font_normal, sans-serif;
	font-size: 18px;
	height: 100%;
}
.wrapper {
	margin: auto;
	max-width: $breakpoint-large;
}
.content-section {
	margin:	auto;
	max-width: $content-container-width;

	@include respond-to('under-content-container') {
		padding: 0 20px;
	}

	&.content-section--nopadding {
		padding: 0;
	}
}
.main-content {
  margin-top: 48px;

  @include respond-to('large') {
    margin-top: 80px;
  }
}
.page-content {
	margin: 0 auto;
	max-width: 756px;
	@include respond-to('medium') {
		max-width: 100%;
		padding: 0 20px;
	}
}

header {
  background: $white;
  height: 80px;
  left: 0;
	line-height: 80px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  z-index: 10;
	nav {
		margin: auto;
		text-align: center;
	}
}

@import './components/header';

.notif {
	background-color: $primary;
	border-radius: 11px;
	color: white;
	display: inline-block;
	line-height: 22px;
	font-size: 13px;
	height: 22px;
	vertical-align: text-bottom;
	width: 22px;
	&.hide {
		display: none;
	}
}

main {
	min-height: 320px;
}

@import '../components/_banner';
@import '../components/_hero';
@import '../components/_product-banner';
//@import '../components/_introductory';
//@import '../components/_product-filter';
//@import '../components/_benefits';
@import '../components/menu/_sub-menu';
//@import './components/offer-landing/_mbg-explanation';
//@import '../pages/article-page';

section {
	display: block;
}
nav {
	display: block;
}
article {
	display: block;
}
figure {
	display: block;
}
ul {
	list-style-type: none;
}
footer {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	background-image: url('../assets/images/textures/lotus_green.jpg');
	nav {
		a {
			color: $white;
			font-size: 14px;
			padding: 0 20px;
			text-decoration: none;
			&:hover {
				color: $primary;
			}
		}
	}
	p {
		margin: 40px 0 70px;
	}
}

.footer {
	//background-color: $footer;
	
	&__nav {
		display: flex;
		justify-content: space-evenly;
		//justify-content: space-around;
		padding: 60px 150px;
		padding-bottom: 0;
		&.two-item {
			padding: 60px 13%;
			padding-bottom: 0;
			@include respond-to('medium') {
				padding: 20px 0;
				padding-bottom: 0;
			}
		}
		a {
			font-size: 14px;
			padding: 0;
			text-transform: uppercase;
		}
		@include respond-to('medium') {
			justify-content: space-between;
			flex-direction: column;
			padding: 20px 0;
			padding-bottom: 0;
			li {
				text-align: left;
			}
			a {
				font-size: 16px;
				line-height: 34px;
			}
		}
	}
	&__img {
		padding-top: 30px;
		.footer-img {
			&--img {
				.img-logo-footer {
					width: 48px;
					height: 47px;
					margin: 0 auto;
					background-image: url($imagePath + "/default/logo-triman.svg")
				}
			}
			&--email {
				a {
					color: $primary;
					&:hover {
						color: $secondary;
					}
				}
			}
			&--desc {
				max-width: 100%;
				margin: 0 auto;
				margin-top: -2px;
				line-height: 1.3;
				@include respond-to('large') {
					max-width: 320px;
				}
			}
		}
	}
	select {
    appearance: none;
		background: none;
		border: none;
		color: $text;
		font-family: $font_normal;
		font-size: 15px;
		font-weight: 700;
		-webkit-appearance: none;
		&::-ms-expand {display: none;} /* Remove default arrow key on IE */
		@include respond-to('medium') {
			font-size: 16px;
			height: 34px;
		}
	}
}

/* Style for the form select language */
.form-language {
	&__select {
		align-items: center;
		display: flex;
		position: relative;
	}
	&__icon {
		img {
			display: inline-block;
			margin-right: 10px;
			height: 26px;
			vertical-align: bottom;
			width: 26px;
		}
	}
}

@media only screen and (max-width: $breakpoint-large) {
	header {
		nav {
			li {
				display: inline-block;
			}
		}
	}
}
@media only screen and (max-width: $breakpoint-medium) {
	header {
		height: 48px;
		line-height: 48px;
		nav {
			li {
				display: none;
				&.btn-home {
					display: inline-block;
					margin: auto;
					a {
						height: 70px;
						line-height: 70px;
						margin-top: 5px;
						width: 70px;
					}
				}
			}
		}
		.mobile-menu {
			display: block;
			top: 0;
		}
	}
}
@media only screen and (max-width: $breakpoint-small) {
	body {
		-webkit-text-size-adjust: none;
	}
	section {
		-webkit-text-size-adjust: none;
	}
	article {
		-webkit-text-size-adjust: none;
	}
	div {
		-webkit-text-size-adjust: none;
	}
	p {
		-webkit-text-size-adjust: none;
	}
	a {
		-webkit-text-size-adjust: none;
	}
}


.noscroll {
  overflow: hidden;
}



.product-list {
  .product {
    display: none;
  }

  .filter, .mfp-hide {
    display: none;
  }
}

.bg-red,.bg-blue {
	display: inline-block;
	padding: 15px;
	@include respond-to('medium') {
		padding: 5px;
	}
}

.bg-red {
	background-color: $red-dark;
}

.bg-blue {
	background-color: $blue;
}

.amount, .calories, .weight {
  color: $primary;
  font-size: 40px;
  font-weight: 300;
}

body {
  //background-image: url('../assets/images/home/banner-de.jpg');
}