mixin offerPush(options)
  - var imgDesktop = options.imgDesktop || ""
  - var imgMobile = options.imgMobile || ""
  - var alt = options.alt || ""
  - var isLazyLoading = options.isLazyLoading || false
  - var lazyLoadingClass = isLazyLoading === true ? "lazyload" : ""
  - var additionalClass = options.additionalClass || ""

  .offer-push(class = additionalClass + " " + lazyLoadingClass)
    a(href="/mbg-uk.html").offer-push__link
      +img({
        classe: "offer-push__picture",
        imgClass: "offer-push__img img--responsive",
        desktop: imgDesktop,
        mobile: imgMobile,
        alt: alt,
        lazyLoad: isLazyLoading,
        mobileFirst: true
      })

