mixin table(options)
  - var classe = options.classe || ""
  - var header = options.header || {}
  - var element = options.element || []
  - var theme = options.theme || "product"

  table.table(class = classe, data-theme=theme)
    each el in element
      tr
        td.table__label.text--medium #{el.label}
        td.table__value.text--medium #{el.value}