.main-menu {
  position: relative;
  &:hover {
    cursor: pointer;
  }

  @include respond-to('large') {
    align-items: center;
    display: block;
    height: 100%;
    white-space: normal;
  }
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  &-container {
    background-color: $bg-primary;
    display: none;
    text-transform: uppercase;
    width: 100%;
    z-index: -1;
    a {
      color: $text;
      text-decoration: none;
      &:hover {
        color: $primary;
      }

      @include respond-to('medium') {
        white-space: normal;
        word-wrap: break-word;
      }
    }
    @include respond-to('large') {
      height: auto;
      padding: 70px 20px 0 150px;
      position: relative;
      top: 80px;
      left: 0;
    }
  }
  .offer-push {
    @include respond-to('medium') {
      display: none;
    }
  }
  @include respond-to('medium') {
    padding-left: 20px;
  }
}

.parent-menu {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 20px;
  &__link {
    line-height: 27px;
  }
  @include respond-to('medium') {
    margin-bottom: 15px;
  }
}

.child-menu {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  &-container {
    display: block;
    padding-top: 10px;
    padding-left: 18px;
  }
  &__link {
    line-height: 27px;
    margin-bottom: 10px;
  }
  @include respond-to('medium') {
    font-size: 14px;
  }
}
