// Benefits Section For Home Page
mixin homePageBenefits
  +section({
    title: "<strong>We believe</strong><br> feeding clean means giving our pets the best.",
    sectionClass: "section--benefits",
    sectionBgClass: "js-section__bg",
    titleClass: "js-section__title",
    hasBackground: true,
    applyParallaxDesktop: true,
    img: {
      desktop: "home/banner-benefits.jpg",
      mobile: "home/banner-benefits-mobile.jpg",
      mobileFirst: true
    },
    boxCol: 3,
    boxes: [{
      type: "benefits",
      img: "pictos/simple.png",
      alt: "simple icon",
      title: "simple",
      titleClass: "text--large",
      description: "Recipes that are gently prepared, full of flavour and rich in nutrients. Made with non-GMO ingredients. No artificial colours, flavours or preservatives. No maize, wheat, soya protein or dairy products.",
      descriptionClass: "text--medium"
    },{
      type: "benefits",
      img: "pictos/purposeful.png",
      alt: "purposeful icon",
      title: "purposeful",
      titleClass: "text--large",
      description: "Clean labels. Each ingredient has a precise nutritional purpose and is easily recognisable. High quality protein source is the #1 ingredient.",
      descriptionClass: "text--medium"
    },{
      type: "benefits",
      img: "pictos/trustworthy.png",
      alt: "trustworthy icon",
      title: "trustworthy",
      titleClass: "text--large",
      description: "Sourced from trusted suppliers, prepared in trusted facilities with rigorous quality and safety checks.",
      descriptionClass: "text--medium"
    }],
    btnHref: "#",
    btnText: "Our philosophy",
    btnClass: 'btn btn--primary btn--medium'
  })