mixin homePageHero(options)
  - var bgDesktop = options.bgDesktop || ""
  - var bgMobile = options.bgMobile || ""
  - var bgDesktopDE = options.bgDesktopDE || ""
  - var bgMobileDE = options.bgMobileDE || ""
  - var bgDesktopOffer = options.bgDesktopOffer || ""
  - var bgMobileOffer = options.bgMobileOffer || ""

  .hero-banner.js-hero-banner
    +banner({
      bgDesktop: bgDesktop,
      bgMobile: bgMobile,
      title: "Nutro<sup class='sup-text'>TM</sup><br><strong>Feed<br>Clean<sup class='sup-text'>TM</sup></strong>",
      subtitle: "Simple, purposeful, trustworthy",
      classe: "banner--home"
    })
    +banner({
      bgDesktop: bgDesktopDE,
      bgMobile: bgMobileDE,
      title: "",
      subtitle: "",
      type: "with-cta",
      bgPosition: "left",
      classe: "banner--home banner--with-cta",
      ctaLabel: "Redeem offer",
      ctaLink: "https://promotion.nutro.de",
      ctaClass: "btn--primary btn--medium"
    })
    +bannerOffer({
      desktop: bgDesktopOffer,
      mobile: bgMobileOffer
    })