mixin homePageProducts
  .overlapping-box
    h1.home-product-title
      span clean food
      | is the new standard
  +RadioChoice({
    first: {
      id: 'dogs-choice',
      label: 'dogs',
      value: 'dogs'
    },
    second: {
      id: 'cats-choice',
      label: 'cats',
      value: 'cats'
    },
    name: 'petProductChoice'
  })
  // Section content
  .content-section.home-product-list
    .pack-container
      +PackProduct({
        title: 'Nutro <sup>TM</sup> Wild Frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        rating: true,
        ratingClass: 'js-add-stars',
        href: '#',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        },
        buyNowClass: 'js-buy-now'
      })(data-product-for="dogs",class="hide")
      +PackProduct({
        title: 'wild frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        href: '#',
        ratingIdProduct: 'data-gen-ov7cr69sakbegasbhejikf0q0',
        rating: true,
        ratingClass: 'js-add-stars',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        },
        buyNowClass: 'js-buy-now'
      })(data-product-for="dogs",class="hide")
      +PackProduct({
        title: 'wild frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        rating: true,
        ratingClass: 'js-add-stars',
        href: '#',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        },
        buyNowClass: 'js-buy-now'
      })(data-product-for="dogs",class="hide")
      +PackProduct({
        title: 'wild frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        rating: true,
        ratingClass: 'js-add-stars',
        href: '#',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        }
      })(data-product-for="dogs",class="hide")
      +PackProduct({
        title: 'wild frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        rating: true,
        ratingClass: 'js-add-stars',
        href: '#',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        },
        buyNowClass: 'js-buy-now'
      })(data-product-for="cats",class="hide")
      +PackProduct({
        title: 'wild frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        rating: true,
        ratingClass: 'js-add-stars',
        href: '#',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        },
        buyNowClass: 'js-buy-now'
      })(data-product-for="cats",class="hide")
      +PackProduct({
        title: 'wild frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        rating: true,
        ratingClass: 'js-add-stars',
        href: '#',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        },
        buyNowClass: 'js-buy-now'
      })(data-product-for="cats",class="hide")
      +PackProduct({
        title: 'wild frontier <sup>TM</sup>',
        subtitle: 'adult dry dog food',
        desc: 'high in "wild" vitamins',
        rating: true,
        ratingClass: 'js-add-stars',
        href: '#',
        packshot: {
          img: '/images/packs/packshot.png',
          alt: 'packshot'
        },
        buyNowClass: 'js-buy-now'
      })(data-product-for="cats",class="hide")
    +Btn({
      text: 'All dog products',
      type: 'link',
      class: 'btn--secondary btn--medium js-see-product-dogs',
      href: '#',
    })
    +Btn({
      text: 'All cat products',
      type: 'link',
      class: 'btn--secondary btn--medium js-see-product-cats',
      href: '#',
    })
