.img--responsive {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.img--desktop {
  @include respond-to('medium') {
    display: none;
  }
  @include respond-to('small') {
    display: none;
  }
}

.img--mobile {
  @include respond-to('large') {
    display: none;
  }

  @include respond-to('larger') {
    display: none;
  }
}