.section {
  background-attachment: fixed;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  @include respond-to('medium') {
    background-size: contain;
  }
  &__title {
    font-weight: 300;
    text-align: center;
  }
  &__bg {
    position: absolute;
    @include respond-to('large') {
      top: 0;
      left: 0;
    }
    &.fixed {
      position: fixed;
    }
    &.is--on-bottom {
      align-items: flex-end;
      display: flex;
    }
    img {
      display: block;
      height: auto;
      max-width: $breakpoint-large;
      width: 100%;
    }
  }
  &__box {
    display: flex;
    justify-content: space-evenly;
    @include fixOn('IE') {
      justify-content: space-between;
    }
    @include fixOn('EDGE') {
      justify-content: space-between;
    }
    &[data-box-col="3"]{
      .box {
        width: 30%;
      }
    }
    @include respond-to('medium') {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &[data-box-col="3"]{
        .box {
          width: 100%;
        }
      }
    }
  }
  &--benefits {
    color: $white;
    overflow: hidden;
    padding-top: 228px;
    padding-bottom: 68px;
    position: relative;
    /* IE 11 FIX */
    @include fixOn('IE') {
      margin-left: auto;
      margin-right: auto;
      max-width: $breakpoint-large;
    }
    .section__title {
      letter-spacing: 1px;
      line-height: 48px;
      @include respond-to('medium') {
        line-height: 20px;
        margin-bottom: -25px;
      }
    }
    .section__box {
      margin-bottom: 40px;
    }
    .section__btn {
      text-align: center;
      @include respond-to('medium') {
        margin-bottom: 45px;
      }
    }
    @include respond-to('medium') {
      padding-top: 80px;
      padding-bottom: 0;
    }
    .content-section {
      position: relative;
    }
  }
  &--review {
    overflow: hidden;
    padding-top: 70px;
    @include respond-to('medium') {
      padding-top: 40px;
    }
  }
}
