// breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1400px;
$breakpoint-iphone5: 320px;
$breakpoint-small-desktop: 1024px;
$breakpoint-middle-desktop: 1180px;
$breakpoint-phone: 480px;

// Inner container
$content-container-width: 1180px;

// colors
$primary: #24896e;
$secondary: #56b69c;
$text: #524b48;
$bg-primary: #f1f5f8;
$bg-secondary: #dfe7ed;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$red-dark: #c31a1b;
$form-error: #d7201a;
$footer: #e9f0f6;
$slider-bg-theme-1: #ccd4dc;
$filter-border-color: #58514f;
$light-grey: #B0C0BF;
$border-color: #CCC;
$gray: gray;
$blue: #7fb8dc;

// fonts
$font_normal: Lato;

$env: 'development' !default;
$imagePath: '/images' !default;

@if($env == 'production') {
  $imagePath: '/Content/Nutro/images/';
}

