.overlapping-box {
  background-color: $white;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 26px;
  position: relative;
  z-index: 2;

  &.introduction {
    &--user-profile {
      max-width: 756px;
      margin-bottom: 28px;
      .introduction__footer {
        font-size: 13px;
        a {
          color: $white;
        }
      }
      @include respond-to('medium') {
        margin-bottom: 20px;
      }
    }
    &--offer-landing {
      margin-bottom: 33px;
      @include respond-to('medium') {
        margin-bottom: 26px;
      }
    }
    &--form-confirmation {
      @include respond-to('medium') {
        margin-bottom: 28px;
      }
    }
    &--mbg-bank {
      margin-bottom: 35px;
      @include respond-to('medium') {
        margin-bottom: 28px;
      }
    }
    &--registration {
      margin-bottom: 32px;
      padding-bottom: 23px;
      .introduction {
        &__paragraph {
          margin-bottom: 15px; 
        }
        &__footer {
          font-size: 13px;
          a {
            color: $white;
          }
        }
      }
      @include respond-to('medium') {
        margin-bottom: 28px;
      }
    }
  }

  @include respond-to('large') {
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: -52px;
    max-width: 54%;
    padding-top: 45px;
  }
}
