- var headerMenuDesktop = ['For Dogs', 'For Cats', 'Nutro',  'Feed Clean', 'Search']
- var headerMenuMobile = ['For Dogs', 'For Cats', 'Our Offers', 'Feed Clean']
header

  //- Main navigation
  +mainNavigation({})

  //- Submenu
  +subMenu({})

  //- Search
  +menuSearch({})

  //- Mobile navigation
  +menuMobile({})
